<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Nutrivia - Order Placed</title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" href="stylesheets/thankyou.css">
</head>
<body>

  <div class="container">
            <nav class="navbar navbar-expand-lg ftco_navbar ftco-navbar-light" id="ftco-navbar">
                <div class="container">
                    <a class="navbar-brand" href="/home">Nutrivia</a>
                   
                    <div class="collapse navbar-collapse" id="ftco-nav">
                        <ul class="navbar-nav ml-auto mr-md-3">
                            <li class="nav-item"><a href="/home" class="nav-link">Home</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">About</a></li>
                            
                            <li class="nav-item"><a href="/orderHistory" class="nav-link">View Order History</a></li>
                            
                            <li class="nav-item"><a href="#" class="nav-link">Contact</a></li>

                            <li class="nav-item"><a href="/logout" class="nav-link">Logout</a></li>
                            <li class="dropdown nav-item d-md-flex align-items-center">
                                <a href="/cart" class="dropdown-toggle nav-link d-flex align-items-center justify-content-center icon-cart p-0" id="dropdown04" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-shopping-cart"></i>
                                    <b class="caret"></b>
                                </a>
                            </li>
                        </ul>
                    </div>
                    
                    
                </div>
            </nav>
          </div>

  <div class="thankyou-page">
    <div class="_header">
        <h1>Thank You!</h1>
        </div>
        <div class="_body">
          <div class="_box">
            <h2>
              <strong>Please check your email</strong> for further instructions on how to complete your account setup.
            </h2>
            <p>
              Thanks a bunch for ordering. It means a lot to us, just like you do! We really appreciate you giving us a moment of your time today. Thanks for being you.
            </p>
          </div>
        </div>
        <div class="_footer">
          <p>Having trouble? <a href="">Contact us</a> </p>
        </br>
        <a class="btn" href="/home">Back to homepage</a>
      </div>
    </div>

  </body>
  </html>